@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');

.entrenador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    .foto-nombre{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 9.5rem;
        margin-left: -1.5rem;
        

        .nombreEnt{
            color: #fff;
            font-family: 'Inter', sans-serif;
            font-size: 1rem;


        }

        .fotoEnt{
            width: 3.125rem;
        }

    }
}