@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');


.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.filtro-box {
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    padding: 1.25rem;
    border-radius: 15px;
}

.btn-filtrar {
    background: #5faab0;
    color: black;
    font-size: 1.5rem;
    padding: 1.1rem;
    border: none;
    border-radius: 12px;
  
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.lista-rutinas {
    background: #d3d3d3;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.688rem;

    font-family: 'Inter', sans-serif;

    .tituloRutina{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .entrenadorRutina{
        font-size: 1rem;
    }

}

.rutina-card {
    background: #b2b2b2;
    padding: 0.8rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;

    font-family: 'Inter', sans-serif;
}


.tituloFiltro{
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.opciones{
    display: flex;
    flex-direction: column;
    gap:1.125rem ;

}

.label{
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
}




.usuCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.688rem;

    .logoHead{
        width: 5rem;   
    }

    .porfavorfunciona{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.25rem;
   
    }

}

.usuario-container{
    background-color: #000;
    width: 100%;
    padding-top: 1rem;

    padding-bottom: 10rem;
}

.links1{
    text-decoration: none;
    color:#000;
}






