@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');

.ejercicio-detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0;
    gap: 2rem;
    font-family: 'Inter', sans-serif;
 
    .logoHead{
        width: 5rem;
    }

    .ejercicio-detalle-contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        gap: 4.5rem;
        text-align: center;
        padding-bottom: 3rem;

        .texto-titulo{
            font-size: 2rem;
        }

        .descripcion-ejercicio{
            font-size: 1.3rem;
            background-color: #ffffffef;
            color:#000;
            padding: 1.5rem 1rem;
            border-radius: 16px;
            max-width: 78%;
        }

        .gif-ejercicio{
            max-width: 85%;
            border-radius: 16px;
        }
    }
    

}