@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');

.entrenador{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3.625rem;
 
    .headere{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.125rem;

        .logoHead{
            width: 5rem;
        }

        .titleEnt{
            font-size: 1.5rem;
            font-family: 'Julius Sans One', sans-serif;
            color:#fff;

        }
    }

    .codigo-input{
        width: 21.25rem;
        height: 4.313rem;
        border-radius: 12px;
        font-size: 1.5rem;
     
    }

    .btn-aceptar {
        width: 14.875rem;
        height: 4.5rem;
        border-radius: 12px;
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        background-color: #5faab0; 
        color: black; 
        border: none;
    }
    

}

.error-msg{

    color: red;
    font-size: 1.5rem;
}

