@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');

.elHome{
    background-color: #000;
    padding-top: 1rem;
    margin: 0 auto;

    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 5rem;
        .logo{
            width: 22rem;
        }
        .titulo{
            color: #fff;
            font-family: 'Inknut Antiqua', sans-serif;
            font-size: 2rem;
        }

        .roles{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .seleccione{
                color: #fff;
                font-family: 'Julius Sans One', sans-serif;
                font-size: 1.5rem;
            }

            .rol{
                background-color: #5faab0;
                font-size: 1.5rem;
                font-family: 'Inter', sans-serif;
                text-align: center;
                padding: 1.375rem;
                border-radius: 12px;
                text-decoration: none;
                color: #000;
               
            }
        }
    }


}